.App {
  text-align: center;
}

.Content {
  min-height: 500px;
  width: 100%;
}

.rp-Carousel {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

/* Portfolio STYLE */

body {
  font-family: Arial;
  margin: 0;
  /* background-color: #a1a1c9; */
}

/* Banner section CSS  */
.banner {
  padding: 60px;
  text-align: center;
  background: #fabc60;
  color: black;
  background-image: url("assets/img/banner-5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;;
  height: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bolder;
}

.banner-overlay {
  background-color: #ffffff;
  opacity: 0.75;
  width:100%;
}

/* Navigation section CSS  */
.navigation {
  background-color: #c9cfcf;
  display: flex;
  font-size: x-large;
}

.navigation a {
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  color: black;
}

/* Section for the About me and personal details */

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
}

.image {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Project Section that I've completed  */

.projects {
  font-size: 1.5rem;
  padding: 45px;
  text-align: center;
  background: #fabc60;
  color: black;
}

.centerText {
  text-align: center;
}

.bodyContainer {
  display: flex;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #caf7e3;
}

.card {
  display: flex;
  flex-direction: column;
  /* margin: 0 1rem; */
}

.responsive_image {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.footerContainer {
  color: white;
  background-color: #bae4e4;
  background-color: #bae4e4;
  font-size: large;
  padding: 25px;
}

.footerLink {
  margin-top: 25px;
}

@media screen and (max-width: 700px) {
  .aboutContainer,
  .navigation,
  .cardContainer {
    flex-direction: column;
  }
}

.rp-margin-1 {
  margin: 10px;
}

.about-me-content {
}